/* Our client */
.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1199px) {
    font-size: 36px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: center;
  }
}

.client__link {
  @extend %flexcentr;

  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-bck);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--acent-color);
    border: 1px solid var(--acent-color);
  }
}

.client__icon {
  margin: 15px;
  width: calc((100% - 60px) / 2);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 6 * 15px) / 3);
  }
  @media screen and( min-width:1200px) {
    width: 170px;
  }
}

.client__box {
  /* outline: 1px solid green; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  @media screen and(min-width:1200px) {
    margin-top: 50px;
  }
}
