/* Section - feature */

/* Feature */

// .feature__item {
// // width: 270px;
// & + & {
//   margin-left: 30px;
// }
// }

.feature__title {
  @include fontstyle(700, 14px, 1.1);
  text-transform: uppercase;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.feature__text {
  color: var(--second--text-color);
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Icon Feature */
.feature__icon-bcg {
  margin: auto;
  // @extend %flexcentr;
  // width: 270px;
  width: 100%;
  // height: 120px;
  height: 120px;
  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px;
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  // }

  // @media screen and (min-width:768px) {
  //   width:354px;
  //   margin: 0;
  // }
}

.feature__item + .feature__item {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-top: 30px;
  }
}

.feature__icon {
  display: block;
  margin: auto;

  width: 65px;
  height: 70px;
  // margin: 25px 102px;
}

.feature__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
  }
}

.feature__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__item + .feature__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
