/* section footer */
.footer {
  background-color: var(--main-herofooter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  /* outline: tomato solid 2px; */
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  & li {
    margin-bottom: 9px;
  }
  & li:last-child {
    margin-bottom: 0px;
  }
}

.footer__address {
  color: var(--white-color);
  @extend %address;

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  @extend %address;
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  @extend %address;
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

/* footer icon */
.footer-icon__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.icon-grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  fill: var(--white-color);
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    /* margin-top: 12px; */
  }
}

.footer__container {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin: auto;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    align-items: baseline;
  }
}

.footer-top {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__link {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // width: 50%;
  }
}

/* footer signaure */

.signature {
  // outline: 1px solid white;
  color: var(--white-color);
  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
  }
}

.signature__sign {
  // outline: 1px solid red;
  width: 358px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.signature__input {
  // width: 358px;
  margin-top: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--main-herofooter-color);

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.button-sign__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.signature__button {
  @media screen and (max-width: 1199px) {
    margin: auto;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer__logo {
  color: var(--white-color);
}
