/* Header */

.header {
  /* outline: solid 1px tomato; */
  border-bottom: solid 1px var(--brd-color);
}

.header__container {
  display: flex;
  align-items: center;
}
.header__section {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav-all {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    width: 100%;
  }
}

.nav__link {
  text-decoration: none;
  color: var(--main-text-color);
  transition: var(--cubic);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.nav__studio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav__link .current {
  color: var(--acent-color);
}

/* Blue line current */
.nav__studio {
  position: relative;
  /* outline: 1px solid red; */
}

.nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-0%, 1px);

  content: '';
  background-color: var(--acent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-auth__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* outline: 1px solid green; */
  color: var(--second--text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  fill: var(--second--text-color);

  transition: color var(--cubic), fill var(--cubic);
  &:hover,
  &:focus {
    color: var(--acent-color);
    fill: var(--acent-color);
  }
  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
}

/* Nav auth icon */
.nav-auth__item {
  display: flex;
  align-items: center;
}

.nav-auth__icon-mail {
  --color: currentColor;
  height: 12px;
  width: 16px;
  margin-right: 10px;
  /* fill: var(--second--text-color); */
  &:hover,
  &:focus {
    fill: var(--acent-color);
  }
}

.nav-auth__icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  /* fill: var(--second--text-color); */
}

/* Header-flex */

.nav__studio {
  /* outline: tomato solid 2px; */
  margin-right: 50px;
}

.nav__studio:last-child {
  margin-right: 0px;
}

.nav-auth {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin-left: auto;
    // margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin-left: auto;
  }
}

.nav-auth__item + .nav-auth__item {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

// .menu-mob .icon-close {
//   display: none;
// }
// .menu-mob.is-open .icon-close {
//   display: none;
// }

// .menu-mob.is-open .icon-line {
//   display: none;
// }

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  background-color: var(--main-bcg-color);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .menu-position {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobnav {
  @include fontstyle(500, 40px, 1.2, null);
}
.mobnav__studio:not(:last-child) {
  margin-bottom: 32px;
}

.mobnav__link {
  text-decoration: none;
  color: var(--main-text-color);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
.mobnav-auth__link {
  text-decoration: none;
  color: var(--second--text-color);

  @include fontstyle(500, 24px, 1.1);
}

.mobnav-auth__link--tel {
  @extend .mobnav-auth__link;
  color: var(--acent-color);
  @include fontstyle(500, 34px, 1.1);
}

.mobnav-auth__item + .mobnav-auth__item {
  margin-top: 32px;
}

.mobnav-sociallist {
  display: flex;
  align-items: center;
  color: var(--acent-color);
  margin-top: 32px;
  @include fontstyle(500, 18px, 1.2);
}

.mobnav-sociallist__list:not(:last-child)::after {
  content: '';

  height: 22px;

  background-color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobnav-sociallist__list:not(:first-child) {
  margin-left: 10px;
}
