/* hero */
.hero {
  // max-width: 1600px;
  // height: 600px;
  // max-width: 576px;
  // height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile.jpg);
  background-color: var(--main-herofooter-color);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // padding-top: 200px;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile2x.jpg);
  }

  @media (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet2x.jpg);
    }
  }

  @media (min-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop2x.jpg);
    }
  }
}

// @media (min-device-pixel-ratio: 2),
// (min-resolution:192dpi),
// (min-resolution:2dppx) {
//   .hero{
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/mobile2x.jpg);
//   }
// }

// @media (min-width:576px) {
//   .hero {background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//   url(../images/tablet.jpg);
//   }

// }

.hero__title {
  /* outline: tomato solid 2px; */
  //

  width: 360px;
  color: var(--white-color);
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
  }

  // font-size: 44px;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
}
