// button portfolio
.button {
  height: 50px;
  width: 200px;

  @extend %flexcentr;

  color: var(--white-color);
  background-color: var(--acent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

// Modal button close
.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);

  @extend %flexcentr;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover,
  &:focus {
    fill: var(--acent-color);
  }
}

// Button portfolio

.btn-prj {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bcg-color);

  transition: box-shadow var(--cubic), background-color var(--cubic), color var(--cubic);

  &:hover,
  &:focus {
    color: var(--main-bcg-color);
    background-color: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}


.mob-button__open {
  @media screen and (min-width:768px) {
    display: none;
    
  }
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--acent-color);
    cursor: pointer;
  }
}

.mob-button__close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
  &:hover,
  &:focus {
    fill: var(--acent-color);
    cursor: pointer;
  
}
}

